<!DOCTYPE html>
<html ng-app="mathApp">
<head>
    <title>AngularJS Math Calculator</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body>
    <div ng-controller="mathCtrl" id="calculator">
        <h2>Math Calculator</h2>
        <input type="number" ng-model="inputNumber" placeholder="Enter a number">
        <div>
            <button ng-click="calculateFactorial()">Factorial</button>
            <button ng-click="calculateSquare()">Square</button>
        </div>
        <p ng-show="result !== undefined">Result: {{ result }}</p>
    </div>
    <script src="script.js"></script>
</body>
</html> 