<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Number System Calculator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body ng-app="myApp" ng-controller="MainController">
    <div class="root">
        <h1 class="title">Number System Calculator</h1>
        <section>
            <div class="option">
                <span>
                    <label>Convert from:</label>
                    <select ng-model="typeFrom" ng-change="update()">
                        <option value="10">Decimal</option>
                        <option value="2">Binary</option>
                        <option value="8">Octal</option>
                        <option value="16">HexaDecimal</option>
                    </select>
                </span>
                <span>
                    <label>Convert to:</label>
                    <select ng-model="typeTo" ng-change="update()">
                        <option value="10">Decimal</option>
                        <option value="2">Binary</option>
                        <option value="8">Octal</option>
                        <option value="16">HexaDecimal</option>
                    </select>
                </span>
                <br />
                <br/>
                <span>
                    <label id="inputType">Enter {{tags[typeFrom]}}</label>
                    <input type="text" min="0" ng-model="inputValue" ng-change="update()" />
                </span>
                <span>
                    <label id="resultType">Result {{tags[typeTo]}}</label>
                    <input type="text" min="0" ng-model="resultValue" ng-change="reverse()" />
                </span>
            </div>
        </section>
    </div>
    <script src="script.js"></script>
</body>
</html> 